.formtitle {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.70);
}

.e-error,
.e-float-text {
    font-weight: 500;
}

.e-custom-label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

form {
    padding-top: 20px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    background: #f9f9f9;
}

.highcontrast form,
.highcontrast .header {
    color: #fff;
    background: #000000;
}

.header {
    color: rgba(0, 0, 0, 0.7);
}

table,
td,
th {
    padding: 5px;
}

.form-horizontal .form-group {
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    padding-bottom: 30px;
    padding-top: 25px;
}
.e-uploader-left-pad{
    margin-left: 2px;
    margin-left: 2px;
}
.e-uploader-border{
    border-bottom: 1px solid #95989a;
}
.e-uploader-hidden{
    display: none;
    visibility: hidden;
}
.nowrapCaption{
    white-space: nowrap;
}
.frmInputLabels{
    color: rgba(0, 0, 0, 0.70);
    font-weight: bold;
}

 /* For Success state */
 .e-float-input.frmInputLabels label.e-float-text,
 .e-float-input.frmInputLabels input:focus ~ label.e-float-text,
 .e-float-input.frmInputLabels input:valid ~ label.e-float-text {
   color: #22b24b;
 }

 /* For Warning state */
 .e-float-input.e-warning label.e-float-text,
 .e-float-input.e-warning input:focus ~ label.e-float-text,
.e-float-input.e-warning input:valid ~ label.e-float-text {
   color: #ffca1c;
 }
 $input-focus-color:rgb(5, 68, 104);
