@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css';
.formtitle {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.70);
}
.form-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:550px;
}

.e-error,
.e-float-text {
  font-weight: 500;
  color:red;
  font-size:13px;
}

.e-custom-label {
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
}

form {
  padding-top: 20px;
  margin-bottom: 45px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
  border-radius: 5px;
  background: #f9f9f9;
}

.form-horizontal .form-group {
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  padding-bottom: 30px;
  padding-top: 25px;
}
.add-emp-form{
  width:500px;
  margin:0px auto;
}
.Btn{
  height:40px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(5, 68, 104);
}
.Btn:hover{
  background-color: rgb(3, 36, 56);
  color:#ffffff;
}
.formtitle h1{
  font-size: 30px;
  margin-bottom: 0px;
}

.reset-pw-btn{
  display:inline-block; 
  text-decoration:none;
  margin: 5px 20px 0px 0px;
  font-weight: 600;
  color:rgb(5, 68, 104);
}
.reset-pw-btn:hover{
  text-decoration: none;
}




