@import '../../../../../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
.content {
  height: 50px;
  background: rgb(5, 68, 104);
  width: 100%;
  #left {
    float: left;
    width: 30px;
    height: 47px;
  }
  #hamburger.menu {
    font-size: 23px;
    cursor: pointer;
    line-height: 50px;
    margin-left: 25px;
    color: #ffff;
  }
}

.content-container {
  width: 100%;
  margin-left: 2%;
  padding: 40px 30px 0px 30px;
  height: 1000px;
}
#default-sidebar {
  overflow: hidden;
}


.e-content-animation {
  overflow: hidden;
}


.mysidebar {
  background-color: rgb(5, 68, 104);
  width: 300px;

  .profile {
    margin-bottom: 30px;
    text-align: center;

    img {
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
    }

    h3 {
      color: #ffffff;
      margin: 20px 0px;
    }

    p {
      color: rgb(206, 240, 253);
      font-size: 14px;
      margin:20px;
    }
  }
}

.sidebar-nav {
  padding: 5px 0 5px 0;

  li a {
    cursor: pointer;
    display: block;
    line-height: 48px;
    text-decoration: none;
    margin-left: 80px;
  }

  li:hover, li.active {
    background-color :rgba(1, 18, 32,45%);
  }

  .icon {
    font-size: 20px;
    color: #ffffff;
  }
 


  .icon-width,.text-width{
    display:inline-block;
  }
  .icon-width{
    width:40px;
  }

  span.e-text {
    font-size: 20px;
    color: white;
  }
}

.e-sidebar.e-left {
  border: none;
}





