/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size:50px;
    color:rgb(5, 68, 104);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
h3{
    font-size:20px;
}

.primary-Btn{
    background-color: rgb(5, 68, 104);
    color:#ffffff;
    width:200px;
    font-size: 15px;
    border-radius: 5px;
    border:none;
    outline:none;
    height:50px;
    text-align: center;
    text-transform: uppercase;
    padding:10px;
}
.primary-Btn:hover{
    background-color:rgb(3, 35, 54) ;
}
.secondary-Btn{
    background-color: #ffffff;
    color:rgb(5, 68, 104);
    width:170px;
    font-size: 15px;
    border-radius: 5px;
    border:1px solid rgb(5, 68, 104);
    // outline:none;
    height:50px;
    text-align: center;
    text-transform: uppercase;
    padding:10px;

}
.secondary-Btn:hover{
    background-color: #aca9a970;
}
label{
    color:rgb(5, 68, 104);
    font-size: 20px;
}
.cBoth{
    clear:both;
}
.gridContDivWidth{
    width:850px;
}
.pagingNos{
    color: rgb(5, 68, 104);
}

//grid custom css
.e-grid .e-headercell { 
    background-color : rgb(5, 68, 104); 
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
} 
// current selected page item 
.e-grid .e-pager .e-currentitem, .e-pager .e-currentitem:hover, .e-grid .e-pager .e-currentitem:active{ 
    background-color:rgb(5, 68, 104);
    border: none;
  } 

  .e-custom.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-custom.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after { 
  height: 1px; 
  background: rgb(5, 68, 104);
} 
.e-custom .e-dropdownbase .e-list-item.e-active, 
.e-custom .e-dropdownbase .e-list-item.e-active.e-hover { 
  color: rgb(5, 68, 104);
} 
